@media only screen and (min-width:576px) {
    .contacto-redes .join-division {
        border-bottom: 2px solid var(--color-1);
        width: 13%;
        margin: auto;
        /* margin-bottom: 30px; */
        transform: rotate(90deg);
        /* margin-top: 77px; */
    }
}



@media only screen and (min-width:992px) {
    /* Config General */
    h2 {
        font-weight: bolder;
        font-size: 40px;
        margin-bottom: 5%;
    }
    
    /* ----- */


    /* Navbar */
    .nav .li-item__list {
        visibility: visible;
    }

    .nav .li-hamburguer {
        visibility: hidden;
        padding-left: 10%;
    }
    /* ----- */



    /* Seccion Portada */
    .portada {
        margin: 1% 0;
    }

    /* .portada .subtitle {
        margin-right: 30%;
    } */

    .portada .contenido-portada {
        margin: 9rem 9rem;
    }

    .contenido-resumen {
        padding: 9% 7%;
    }

    .portada .general-data {
        margin-bottom: 75px;
    }

    .subtitle {
        font-size: 22px;
    }

    .portada .fondo-portada {
        position: absolute;
        width: 100%;
        /* height: 100%; */
        z-index: -10;
        top: 0;
        left: 0;
        opacity: 0.75;
        position: fixed;
    }
    /* ----- */



    /* Sección Resumen */
    .resumen .resumen-info {
        display: flex!important;
        flex-direction: row!important;
    }

    .contenido-resumen h3 {
        margin-top: 13%;
        margin-bottom: 5%;
        font-size: 32px;
        font-weight: 500;
    }

    .resumen {
        background-image: url(../assets/logo-imagen.png);
        background-size: cover;
        background-position: left center;
        background-size: 52%;
        background-repeat: no-repeat;
    }
    /* ----- */




    /* Sección Colaboración */
    .colaboracion {
        padding-top: 7%;
        padding-bottom: 9%;
        background-image: url('../assets/colaboracion.jpg');
        background-size: cover;
        background-position: center;
    }

    .colaboracion h2 {
        margin-bottom: 3%;
    }

    .colaboracion .empresas-logo {
        display: flex!important;
        justify-content: space-around;
        margin-bottom: 0%;
    }

    .colaboracion .colaboracion-texto {
        display: flex!important;
        flex-direction: row!important;
    }

    .colaboracion .part-description {
        border-radius: 37px;
        border-radius: 2;
        padding: 5%;
        margin-bottom: 9%;
        max-width: 100%;
    }
    /* ----- */



    /* Sección Resumen del blog */
    .contenido-blog-resumen {
        padding-top: 6%;
        padding-bottom: 5%;
        margin-top: -10%;
    }

    .contenido-blog-resumen .blog-cards {
        display: flex!important;
        flex-direction: row!important;
    }

    .contenido-blog-resumen .card {
        margin-bottom: 10%;
        margin: 2%;
    }
    /* ----- */


    /* Sección Unirse */
    .unirse {
        padding-top: 7%;
        padding-bottom: 6%;
        margin-top: -2px;
    }

    .unirse .subtitle {
        margin-top: 2%;
        font-size: 17px;
    }
    /* ----- */


    /* Sección Footer */
    .footer {
        padding-top: 7%;
        padding-bottom: 3%;
    }

    .footer .footer-referencias {
        display: flex!important;
        flex-direction: row!important;
        justify-content: space-between!important;
        align-items: start!important;
    }

    .footer .seccion-referencias li {
        text-align: left;
    }

    .footer .seccion-referencias__media {
        display: flex!important;
        align-items: left!important;
    }

    .footer h4 {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 13%;
    }

    .footer .subtitle {
        text-align: left;
        margin-bottom: 22px;
        width: 24rem;
    }

    .footer .footer-bases {
        display: flex!important;
        flex-direction: row!important;
        justify-content: center!important;
        align-items: center!important;
    }

    .footer .footer-bases img {
        margin-top: 0%;
        width: 150px;
    }
    /* ----- */





    /* Pagina How It works */
    .portada-how .fondo-portada {
        width: 100%;
        z-index: -10;
        left: 0;
        top: 0;
        opacity: 0.75;
        position: fixed;
    }

    .portada-how {
        margin: 13% 0;
    }

    .portada-how .contenido-portada {
        margin: 1% 17%;
    }

    .portada-how .subtitle-how {
        margin-right: 52%;
    }

    /* ----- */


    /* Resumen How It works */
    .informacion-how__it-works .selector-pag {
        width: 100%;
        padding: 1% 2%;
    }

    .informacion-how__it-works .selector-pag p{
        margin-bottom: 0;
    }

    .informacion-how__it-works .contenido .selector-pag {
        visibility: visible;
    }

    .informacion-how__it-works .selector-pag .selector-title {
        margin-left: 10%;
        padding-right: 25px;
        font-size: 30px;
        font-weight: 700;
        border-radius: 2px;
    }

    .informacion-how__it-works .selector-pag .selector-index {
        margin-left: 82px;
        margin-right: -65px;
        font-size: 23px;
    }

    /* ----- */


    /* Sección About */
    .portada-about {
        padding-top: 9%;
        padding-bottom: 12%;
    }
    /* ----- */



    /* Sección Nosotros */
    .contenido-team .subtitle-team {
        font-size: 55px;
        padding: 0 12%;
        margin: auto;
        text-align: center;
        margin-top: -18%;
        margin-bottom: 3%;
        font-weight: bold;
    }    
    /* ----- */


    /* Sección Contenido Blog */
    /* .contenido-blog {
        padding-top: 6%;
        padding-bottom: 5%;
        margin-top: -10%;
    }

    .contenido-blog .blog-cards {
        display: flex!important;
        flex-direction: row!important;
    }

    .contenido-blog .card {
        margin-bottom: 10%;
        margin: 2%;
    } */
    /* ----- */


    /* Sección Contacto */
    .contacto-redes .row-contacto {
        padding-top: 8%;
    }

    .contacto-redes .join-division {
        border-bottom: 3px solid var(--color-1);
        width: 6%;
        margin: auto;
        /* margin-bottom: 30px; */
        margin-top: 30px;
        transform: rotate(90deg);
    }

    .formulario-contacto {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .formulario-contacto form {
        width: 45%;
        margin: auto;
    }

    .formulario-contacto .title {
        font-weight: bolder;
        font-size: 40px;
        margin-bottom: 35px;
    }
    /* ----- */


    /* Sección Unirse Contact */
    .unirse-contact {
        padding-top: 5%;
        padding-bottom: 4%;
        margin-top: -2px;
    }
    /* ----- */
}




@media only screen and (max-width:992px) {
    /* Navbar */
    .nav .li-item__list {
        visibility: hidden;
        margin-top: -50%;
    }

    .nav .li-hamburguer {
        visibility: visible;
        margin-top: 0;
    }
    /* ----- */
}
