/* ATENCIÓN: El proyecto está realizado en Mobile first, el cual tendrá otro archivo con los media querys correspondientes para diseños Tablet y Desktop */


/* Propiedades personalizadas o variables del style.css */
:root{
    --color-1: #fff;
    --color-2: #9E9E9E;
    --color-3: #606060;
    --color-4: #000;
    --color-5: #00399E;
    --color-6: #090E56;
    --color-7: #7175A4;
    --color-8: #06327A;
    --color-9: #E9E9E9;
}

/* Reseteo el diseño predeterminado del navegador */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;;
}





/* Config general */
body {
    background-color: var(--color-4);
}

a {
    text-decoration: none;
}

h2 {
    color: var(--color-4);
    font-weight: bolder;
    font-size: 32px;
    margin-bottom: 8%;    
}

h3 {
    color: var(--color-4);
    font-weight: 600;
    font-size: 28px;
}

.subtitle {
    color: var(--color-2);
    font-size: 22px;
    margin-bottom: 50px;
}

.boton {
    text-decoration: none;
    background-color: var(--color-1);
    color: var(--color-5);
    padding: 13px 42px;
    border-radius: 35px;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
}

.boton:hover {
    text-decoration: none;
    background-color: var(--color-5);
    color: var(--color-1);
    padding: 13px 42px;
    border-radius: 35px;
    /* border: 2px solid var(--color-1); */
    font-size: 20px;
    box-shadow: 5px -4px 18px -5px var(--color-1);
}

.boton-sec {
    text-decoration: none;
    background-color: var(--color-5);
    color: var(--color-1);
    padding: 13px 42px;
    border-radius: 35px;
    font-size: 20px;
    transition: all 0.5s ease-in-out;
    border: 2px solid var(--color-5);
}

.boton-sec:hover {
    text-decoration: none;
    background-color: var(--color-1);
    color: var(--color-5);
    padding: 13px 42px;
    border-radius: 35px;
    font-size: 20px;
    box-shadow: 5px -4px 18px -5px var(--color-6);
    border: 2px solid var(--color-1);
}

.boton-ter {
    text-decoration: none;
    background-color: var(--color-5);
    color: var(--color-1);
    padding: 13px 42px;
    border-radius: 35px;
    font-size: 20px;
    border: 2px solid var(--color-1);
    transition: all 0.5s ease-in-out;
}

.boton-ter:hover {
    text-decoration: none;
    background-color: var(--color-1);
    color: var(--color-5);
    padding: 13px 42px;
    border-radius: 35px;
    /* border: 2px solid var(--color-5); */
    font-size: 20px;
    box-shadow: 5px -4px 18px -5px var(--color-1);
}

.boton-cua {
    text-decoration: none;
    background-color: var(--color-1);
    color: var(--color-5);
    padding: 13px 42px;
    border-radius: 35px;
    font-size: 20px;
    border: 2px solid var(--color-5);
    transition: all 0.5s ease-in-out;
}

.boton-cua:hover {
    text-decoration: none;
    background-color: var(--color-5);
    color: var(--color-1);
    padding: 13px 42px;
    border-radius: 35px;
    font-size: 20px;
    box-shadow: 5px -4px 18px -5px var(--color-6);
}

.boton-cin {
    text-decoration: none;
    background-color: var(--color-6);
    color: var(--color-1);
    padding: 13px 42px;
    border-radius: 35px;
    font-size: 20px;
    border: 2px solid var(--color-1);
    transition: all 0.5s ease-in-out;
}

.boton-cin:hover {
    text-decoration: none;
    background-color: var(--color-1);
    color: var(--color-6);
    padding: 13px 42px;
    border-radius: 35px;
    font-size: 20px;
    box-shadow: 5px -4px 18px -5px var(--color-1);
}



/* ----- */




/* Navbar */
.nav-bar {
    background-color: none;
}

.nav-bar .nav-bar__items {
    margin: 2rem 3.5rem;
}

.nav .navbar-logo {
    width: 160px;
}

.nav .li-item {
    margin: 0 1rem;
    font-family: 'Inconsolata', monospace;
    list-style: none;
}

.nav .li-item a {
    color: var(--color-2);
    text-decoration: none;
    transition: all 0.5s;
}

.nav .li-item a:hover {
    color: var(--color-1);
    text-decoration: none;
}

.nav .lang .mundo-idioma, .nav .lang .flecha-idioma {
    width: 15px;
}

.nav .lang-item {
    margin: 0 2px;
}

/* ----- */




/* Sección Portada */
.portada {
    margin: 15% 0;
}

.portada .fondo-portada {
    position: absolute;
    /* width: 100%; */
    height: 100%;
    z-index: -10;
    top: 0;
    left: 0;
    opacity: 0.75;
    position: fixed;
}

.portada .first-title {
    color: var(--color-1);
    font-weight: bold;
    font-size: 42px;
}

.portada .general-data {
    display: inline;
    margin-top: 75px;
    background-color: var(--color-1);
    font-size: 26px;
    padding: 20px 30px;
    font-weight: bold;
}

.portada .contenido-portada {
    margin: 35px;
}

/* ----- */




/* Sección Resumen */
.resumen {
    background-color: var(--color-1);
    background-image: url(../assets/logo-imagen.png);
    background-size: cover;
    background-position: left;
}

.contenido-resumen {
    padding: 23% 7%;
}

.contenido-resumen h3 {
    margin-top: 13%;
    margin-bottom: 5%;
    font-size: 27px;
    color: var(--color-5);
    font-weight: 500;
}
/* ----- */




/* Sección Colaboración */
.colaboracion {
    padding-top: 30%;
    padding-bottom: 20%;
    background-image: url('../assets/colaboracion.jpg');
    background-size: cover;
    background-position: center;
}

.contenido-colaboracion {
    padding-left: 7%;
    padding-right: 7%;
}

.colaboracion h2 {
    color: var(--color-1);
}

.colaboracion .empresas-logo {
    margin-bottom: 5%;
}

.colaboracion .empresas-logo img {
    width: 65px;
}

.colaboracion .empresas-logo a {
    transition: all 1s ease-in-out;
}

.colaboracion .empresas-logo a:hover {
    transform: rotate(360deg);
}

.colaboracion .part-description {
    border: 2px solid var(--color-1);
    border-radius: 37px;
    border-radius: 2;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.3);
    margin-bottom: 9%;
}

.colaboracion .part-description p {
    color: var(--color-1);
}
/* ----- */



/* Sección Contenido blog resumen */
.contenido-blog-resumen {
    padding-top: 25%;
    padding-bottom: 20%;
    background-color: var(--color-5);
}

.contenido-blog-resumen h2 {
    color: var(--color-1);
    margin-bottom: 5%;
}

.contenido-blog-resumen .card {
    margin-bottom: 10%;
}

.contenido-blog-resumen .info-cards {
    width: 22rem;
    box-shadow: 2px 2px 26px -3px var(--color-1);
}

.contenido-blog-resumen .card-body a {
    font-weight: 600;
}

.contenido-blog-resumen .card-body img {
    width: 150px;
}

/* ------ */



/* Sección Unirse */
.unirse {
    padding-top: 25%;
    padding-bottom: 15%;
    background-color: var(--color-1);
    margin-top: -1px;
}

.unirse .subtitle {
    margin-top: 7%;
    font-size: 17px;
}

.unirse .subtitle a {
    color: var(--color-5);
    transition: all 1s ease; 
    text-decoration: solid underline var(--color-5) 2px;
}

.unirse .subtitle a:hover {
    color: var(--color-7);
}
/* ----- */




/* Sección Footer */
.footer {
    padding-top: 15%;
    padding-bottom: 15%;
    background-color: var(--color-6);
}

.footer h4 {
    color: var(--color-1);
    font-size: 22px;
    font-weight: 500;
}

.footer ul {
    padding: 0;
    text-align: center;
}

.footer .social-media {
    margin: 8% 7%;
}

.footer li a {
    color: var(--color-7);
    transition: all 0.5s;
}

.footer li a:hover {
    color: var(--color-1);
}

.footer .footer-bases a {
    transition: all 0.5s;
}

.footer .footer-bases a:hover {
    color: var(--color-1);
}

.footer .footer-social__media {
    width: 65px;
    padding: 8%;
}

.footer .social-media a {
    transition: all 1s;
}

.footer .social-media a:hover {
    transform: rotate(360deg);
}

.footer .subtitle {
    color: var(--color-1);
    text-align: center;
    margin-bottom: 22px;
}

.footer .footer-bases {
    margin-top: 13%;
}

.footer .footer-bases a {
    margin-bottom: -4%;
    color: var(--color-7);
    margin-left: 4%;
}

.footer .footer-bases img {
    margin-top: 25%;
    width: 150px;
}


/* ----- */





/* Página How It Works */
.portada-how .fondo-portada {
    position: absolute;
    /* width: 100%; */
    height: 100%;
    z-index: -10;
    top: 0;
    right: 0;
    opacity: 0.75;
    /* position: fixed; */
}

.portada-how {
    margin: 15% 0;
}

.portada-how .subtitle-how {
    color: var(--color-1);
    font-size: 22px;
    margin-bottom: 50px;
}

.portada-how .fondo-portada {
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    z-index: -10;
    right: 0;
    top: 0;
    opacity: 0.75;
    position: fixed;
}

.portada-how .first-title {
    color: var(--color-1);
    font-weight: bold;
    font-size: 42px;
}

.portada-how .general-data {
    display: inline;
    margin-top: 75px;
    background-color: var(--color-1);
    font-size: 26px;
    padding: 20px 30px;
    font-weight: bold;
}

.portada-how .contenido-portada {
    margin: 35px;
}

/* ----- */




/* Sección informacion-how__it-works */
.informacion-how__it-works {
    background-color: var(--color-1);
}

.informacion-how__it-works .selector-pag a {
    color: var(--color-5);
    font-weight: 500;
}

.informacion-how__it-works .contenido .selector-pag {
    visibility: hidden;
}

.informacion-how__it-works .selector-pag a:hover {
    color: var(--color-6);
}

/* !Eliminar esto DESPUES */
/* .informacion-how__it-works img {
    width: 120px;
} */
/* !-- */

.informacion-how__it-works .how-image {
    width: 70%;
    margin-bottom: 11%;
    margin-top: 10%;
}

.informacion-how__it-works .title {
    /* margin-left: 5%; */
    margin-top: 5%;
    font-weight: 900;
}

.informacion-how__it-works .subtitle {
    color: var(--color-4);
    /* margin-left: 5%; */
    margin-right: 13%;
    font-weight: 400;
    font-size: 18px;
}

.informacion-how__it-works .subtitle span {
    font-size: 25px;
    color: var(--color-4);
    font-weight: 400;
}

.informacion-how__it-works .how-purpose {
    background-color: var(--color-8);
}

.informacion-how__it-works .how-purpose .title {
    color: var(--color-1);
}

.informacion-how__it-works .how-purpose .subtitle {
    color: var(--color-1);
    margin-right: 0;
    /* margin-left: 13%; */
}

.informacion-how__it-works .how-purpose-text {
    margin-left: 13%;    
}

.informacion-how__it-works .how-technology {
    background-color: var(--color-9);
    padding-bottom: 3%;
}

.informacion-how__it-works .how-technology a {
    display: flex;
    /* margin: auto; */
    justify-content: center;
    width: 35%;
    margin-top: -41px;
}

/* ----- */





/* Sección About */
.nav-bar__about {
    background-color: var(--color-1);
}

.nav-bar__about .nav-bar__items {
    padding: 2rem 3.5rem;
    margin: 0;
}

.nav-bar__about .nav .li-item a {
    color: var(--color-5);
    text-decoration: none;
    font-weight: 600;
}

.nav-bar__about .nav .li-item a:hover {
    color: var(--color-6);
    text-decoration: none;
}

.portada-about {
    background-color: var(--color-1);
    /* padding: 12% 0; */
    padding-top: 20%;
    padding-bottom: 20%;
    margin-top: -10px;
}

.portada-about h1 {
    font-weight: bolder;
}
/* ----- */


/* Sección resumen-about */
.resumen-about {
    background-image: url("../assets/cloud2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.resumen-about .contenido-resumen .title {
    color: var(--color-1);
}

.resumen-about .contenido-subtitle {
    font-size: 18px;
}

.resumen-about .subtitle {
    color: var(--color-1);
}
/* ----- */




/* Sección Nosotros */
.nosotros .contenido-nosotros img {
    width: 100%;
}

.contenido-team .subtitle-team {
    font-size: 25px;
    padding: 0 5%;
    margin: auto;
    text-align: center;
    margin-top: -30%;
    margin-bottom: 5%;
    color: var(--color-1);
    font-weight: bold;
    text-shadow: 1px 1px 4px var(--color-4);
}
/* ----- */



/* Sección Contenido Team */
.contenido-team {
    background-color: var(--color-1);
    padding-top: 0%;
    margin-top: -4%;
}

.contenido-team .card {
    border-radius: 6%;
    box-shadow: 2px 2px 26px -13px var(--color-4);
}

.contenido-team .card-title {
    font-size: 22px;
    font-weight: 800;
}

.contenido-team .type-founder {
    font-weight: 500;
    margin-bottom: 22px;
}

.contenido-team .contenido-team__info {
    font-size: 19px;
}

/* ----- */




/* Sección Contenido Blog */
.contenido-blog {
    background-color: var(--color-1);
    margin-top: -5px;
}

.contenido-blog .info-cards {
    margin-bottom: 40px;
    box-shadow: 2px 2px 26px -15px var(--color-4);
    border-radius: 20px;
    padding: 0;
    width: 22rem;
    margin: auto;
    margin-bottom: 50px;
}

.contenido-blog .info-cards .card-img-top {
    border-radius: 20px 20px 0 0;
}

.contenido-blog .contenido-cards {
    margin: auto;
}

.contenido-blog .page-selector {
    margin-top: 3%;
}

/* ----- */





/* Sección Contacto */
.contacto-redes {
    background: linear-gradient(to bottom, #090E56, #5F9BFD);
}

.contacto-redes .content-redes {
    background-color: var(--color-1);
    border-radius: 15px;
    margin: auto;
    margin-bottom: 27px;
    transition: 0.5s all;
}

.contacto-redes .content-redes:hover {
    box-shadow: 5px -4px 18px -5px var(--color-1);
    transform: scale(1.01);
}

.contacto-redes .texto-contacto h4 {
    font-size: 20px;
    font-weight: 700;
    color: var(--color-5);
    margin-bottom: 2px;
}

.contacto-redes .texto-contacto {
    padding-left: 20px;
}

.contacto-redes .texto-contacto p {
    font-size: 17px;
    margin: 0;
    font-weight: 500;
    color: var(--color-5);
}

.contacto-redes .texto-contacto p a {
    color: var(--color-5);
    text-decoration: solid underline var(--color-5) 2px;
}

.contacto-redes .img-contacto img {
    width: 50px;
}

.contacto-redes .box-redes {
    padding: 17px 10px;
}

.contacto-redes .row-contacto {
    margin: auto;
    padding-top: 15%;
}

.contacto-redes .texto-join h4 {
    color: var(--color-1);
    font-size: 23px;
    font-weight: 700;
}

.contacto-redes .texto-join p {
    color: var(--color-1);
    font-size: 18px;
    margin-bottom: 0;
}

.contacto-redes .text-join__sec p {
    margin-bottom: 55px;
}

.contacto-redes .row-join {
    margin-top: 30px;
}

.contacto-redes .join-division {
    border-bottom: 2px solid var(--color-1);
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* ----- */



/* Sección Formulario Contacto */
.formulario-contacto {
    background-color: var(--color-1);
    padding-top: 15%;
    padding-bottom: 20%;
}

.formulario-contacto .texto-formulario {
    text-align: left;
    font-size: 18px;
}

.formulario-contacto .formulario-textarea {
    height: 200px;
}

.formulario-contacto .texto-formulario input {
    box-shadow: 0 0 0 0 black;
    border-radius: 30px;
}

.formulario-contacto .texto-formulario textarea {
    box-shadow: 0 0 0 0 black;
    border-radius: 15px;
}
/* ----- */



/* Sección Unirse Contact */
.unirse-contact {
    background: linear-gradient(to bottom, #E9ECFF, #ffffff, #ffffff);
    padding-top: 18%;
    padding-bottom: 9%;
    margin-top: -2px;
}
/* ----- */