<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <!-- ATENCIÓN: La idea es ir haciendo lo mejor posible únicamente con las herramientas que tienen todos hoy en día en el curso.
        No tiene sentido que me ponga a configurar JS si mis compañeros todavía no lo saben, no es justo. 
        Entonces se me ocurrió hacer este desafío, también para practicar los conocimientos y aprender cosas nuevas.
        
        Muchas gracias!
        
        Atte, 
        Emanuel Nuñez -->

        
        <!-- Fonts {No son las del prototipo pero se parecen} -->
            <!-- Inconsolata -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">

        <!-- Quicksand -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">

        <!-- CSS only - Conexión a Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        
        <!-- Archivos .css -->
        <link rel="stylesheet" type="text/css" href="../css/style.css">
        <link rel="stylesheet" type="text/css" href="../css/responsive.css">

        <title>Contact - Bygrow</title>
    </head>
    <body>
        

        
        <!-- Navbar -->
        <header>
            
            <nav class="nav-bar nav-bar__about">

                <div class="nav-bar__items d-flex flex-row justify-content-between align-items-center">

                    <ul class="nav d-flex">
                        <li>
                            <a href="../index.html">
                                <img src="../assets/logo-azul.png" class="navbar-logo" alt="Bygrow logo">
                            </a>
                        </li>
                    </ul>

                    <ul class="nav d-flex justify-content-end align-items-center">



                        <!-- Elementos del navbar -->
                        <!-- <li class="me-auto p-2">
                            <a href="index.html">
                                <img src="assets/logo.png" alt="Bygrow logo">
                            </a>
                        </li> -->


                        <li class="li-item li-item__list"><a href="howItWorks.html">How It Works</a></li>
                        <li class="li-item li-item__list"><a href="about.html">About</a></li>
                        <li class="li-item li-item__list"><a href="blog.html">Blog</a></li>
                        <li class="li-item li-item__list"><a href="contact.html">Contact</a></li>
                        <li class="li-item li-item__list li-lang">

                            <div class="lang d-flex justify-content-center align-items-center">
                                <!-- Isoptipo del mundo -->
                                <img src="../assets/worldBlue.png" class="lang-item mundo-idioma" alt="World">

                                <!-- Este <a></a> va a tener la función de cambiar el idioma -->
                                <a href="#" class="lang-item lang-selector">EN</a>

                                <img src="../assets/flechaBlue.png" class="lang-item flecha-idioma" alt="Language Selector">
                            </div>

                        </li>

                        <!-- Por ahora voy a utilizar el icono hamburguesa unicamente
                        para señalar que va a ir ahí pero no es funcional aún, 
                        por eso es que se coloca en una posición incorrecta, 
                        con JS elimino los otros <li> -->
                            <li class="li-item li-hamburguer"><img src="../assets/menuBlue.png" alt=""></li>
                    </ul>

                </div>

            </nav>

        </header>
        <!--------->

        
        <!-- Sección Portada -->
        <section class="portada-about">
            
            <div class="container">

                <div class="text-center">

                    <h1 class="first-title">
                        Contact with Bygrow
                    </h1>

                </div>

            </div>

        </section>
        <!--------->


        <!-- Sección Medios de Contacto -->
        <section class="contacto-redes">

            <div class="container contenido-contacto">

                    <div class="row container row-contacto">

                        <div class="col-md-4 content-redes">
                            <div class="row box-redes">

                                <div class="col-md-2 col-2 img-contacto">
                                    <img src="../assets/youtubeBlue.png" alt="First Social Media">
                                </div>

                                <div class="f-flex flex-column col-md-10 col-10 texto-contacto">
                                    <h4>For Youtube's News</h2>
                                    <p class="subtitle">Join the <a target="_blank" href="https://youtube.com">YouTube community</a></p>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-4 content-redes">
                            <div class="row box-redes">

                                <div class="col-md-2 col-2 img-contacto">
                                    <img src="../assets/twitterBlue.png" alt="First Social Media">
                                </div>

                                <div class="f-flex flex-column col-md-10 col-10 texto-contacto">
                                    <h4>For Twitter's News</h2>
                                    <p class="subtitle">Join the <a target="_blank" href="https://twitter.com">Twitter community</a></p>
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="row row-join">

                        <div class="col-md-5 col-sm-5">
                            <div class="d-flex flex-row justify-content-center text-center">
                                <div class="f-flex flex-column texto-join">
                                    <h4>Stay informed of updates and events</h4>
                                    <p class="subtitle">Subscribe to the newsletter or read the blog</p>
                                </div>
                            </div>
                        </div>

                        <div class="join-division col-md-2 col-sm-2"></div>

                        <div class="col-md-5 col-sm-5">
                            <div class="d-flex flex-row justify-content-center text-center">
                                <div class="f-flex flex-column texto-join text-join__sec">
                                    <h4>Join the teams building Bygrow</h4>
                                    <p class="subtitle">See jobs at Web3 Foundation or at Parity Technologies</p>
                                </div>
                            </div>
                        </div>

                    </div>

            </div>

        </section>
        <!--------->


        <!-- Sección Form de Contacto -->
        <section class="formulario-contacto">

            <div class="container text-center">

                <h2 class="title">Contact Form</h2>

                <div class="container">

                    <form>

                        <div class="mb-3 texto-formulario">
                          <label class="form-label">First Name*</label>
                          <input type="name" class="form-control">
                        </div>

                        <div class="mb-3 texto-formulario">
                          <label class="form-label">Last Name*</label>
                          <input type="name" class="form-control">
                        </div>

                        <div class="mb-3 texto-formulario">
                          <label class="form-label">Email*</label>
                          <input type="email" class="form-control">
                        </div>

                        <div class="mb-5 texto-formulario">
                            <label>Press inquiry*</label>
                            <textarea class="form-control formulario-textarea"></textarea>
                        </div>

                        <button type="submit" class="boton-sec">Submit</button>

                      </form>

                </div>

            </div>

        </section>
        <!---------->
    

        

        <!-- Sección Unirse -->
        <section class="unirse unirse-contact">

            <div class="container text-center">

                <h2 class="title">Want to get involved?</h2>
                <a href="howItWorks.html" class="boton-cua">Learn About Bygrow Team</a>
                <p class="subtitle">or learn about how to <a href="#">build on Bygrow</a></p>

            </div>

        </section>
        <!--------->


        <!-- Footer -->
        <footer class="footer footer-contact">

            <div class="container">

                <div class="footer-referencias d-flex flex-column align-items-center">

                    <!-- Cada una de las columnas de referencias -->
                    <div class="seccion-referencias col-md-2">

                        <h4>General</h4>
                        <ul>
                            <!-- Las referencias están de ejemplo unicamente -->
                            <li style="list-style: none;"><a href="#">About</a></li>
                            <li style="list-style: none;"><a href="#">FAQ</a></li>
                            <li style="list-style: none;"><a href="#">Support</a></li>
                            <li style="list-style: none;"><a href="#">Build</a></li>
                            <li style="list-style: none;"><a href="#">Careers</a></li>
                        </ul>
                        
                    </div>

                    <!-- Cada una de las columnas de referencias -->
                    <div class="seccion-referencias col-md-2">

                        <h4>Technology</h4>
                        <ul>
                            <!-- Las referencias están de ejemplo unicamente -->
                            <li style="list-style: none;"><a href="#">Technology</a></li>
                            <li style="list-style: none;"><a href="#">Roadmap</a></li>
                            <li style="list-style: none;"><a href="#">Token</a></li>
                            <li style="list-style: none;"><a href="#">Telemetry</a></li>
                            <li style="list-style: none;"><a href="#">Lightpaper</a></li>
                            <li style="list-style: none;"><a href="#">Whitepaper</a></li>
                        </ul>
                        
                    </div>

                    <!-- Cada una de las columnas de referencias -->
                    <div class="seccion-referencias col-md-2">

                        <h4>Community</h4>
                        <ul>
                            <!-- Las referencias están de ejemplo unicamente -->
                            <li style="list-style: none;"><a href="#">Community</a></li>
                            <li style="list-style: none;"><a href="#">Documentation</a></li>
                            <li style="list-style: none;"><a href="#">Brand Assets</a></li>
                            <li style="list-style: none;"><a href="#">Blog</a></li>
                        </ul>
                        
                    </div>

                    <!-- Cada una de las columnas de referencias -->
                    <div class="seccion-referencias seccion-referencias__media col-md-2 d-flex flex-column align-items-center">
                        
                        <!-- Enlaces a redes sociales -->
                        <div class="social-media d-flex flex-row justify-content-between">

                            <!-- Envía a cada red social -->
                            <a target="_blank" href="https://www.github.com/"><img class="footer-social__media" src="../assets/githubMedia.png" alt="Social Media"></a>
                            <a target="_blank" href="https://www.discord.com/"><img class="footer-social__media" src="../assets/discordMedia.png" alt="Social Media"></a>
                            <a target="_blank" href="https://www.youtube.com/"><img  class="footer-social__media" src="../assets/youtubeMedia.png" alt="Social Media"></a>
                            <a target="_blank" href="https://www.twitter.com/"><img  class="footer-social__media" src="../assets/twitterMedia.png" alt="Social Media"></a>
                        </div>
                        
                        <p class="subtitle">Subscribe to the newsletter to hear about
                            Bygrow updates and events.
                        </p>

                        <a href="howItWorks.html" class="boton-cin">Subscribe</a>

                    </div>

                </div>

                <!-- Bases y condiciones de la empresa -->
                <div class="d-flex flex-column justify-content-center align-items-center footer-bases">
                    
                    <!-- Referencias a información de la empresa -->
                    <a href="#">Web3 Fundation</a>
                    <!-- División provisoria -->
                    |
                    <a href="#">Impressum</a>
                    <!-- División provisoria -->
                    |
                    <a href="#">Disclaimer</a>
                    <!-- División provisoria -->
                    |
                    <a href="#">Privacy</a>
                    <!-- División provisoria -->
                    |
                    <a href="#">Cookie Settings</a>

                    <!-- Referencia a página principal -->
                    <a href="index.html"> <img src="../assets/logo.png" alt="Bygrow logo"> </a>

                </div>

            </div>

        </footer>
        <!--------->

    </body>
    
</html>